.container-contacto{
    display: grid;
    grid-template-columns: auto auto;
    margin: 500px 25px 100px 25px;
    
}

img{
    height: 500px;
    width: 400px;
    border-radius: 25px;
}

.container-formulario{
    margin-left: 5%;


}