.img-user{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.cont-login{
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-end;
    justify-self: right;
    width: 200px;

}