.btnCart{
    font-size: small;
    height: 30px;
    width: 30px;
    border-radius: 25px 0 0 25px;
    /* border: solid; */
    text-align: center;
    text-align: end;
    padding: none;
    margin: none;
}

.card{
    margin-top: 10px;
}


.btn1 {
    border-radius: 0px 25px 25px 0;
}
.btn2 {
    border-radius: 25px 0 0 25px;
}

.card-container{
    display: block;
    padding: 10px;
}

.card-container .card-menu{
    display: grid;
    grid-template-columns: 20% 75%;
    border: solid 0.5px;
    padding: 10px;
    border-radius: 25px;
}

.card-container .card-menu .card-menu-image .card-image{
    width: 150px;
    height: 150px;
}

.card-container .card-menu .card-menu-details{
    display: grid;
    grid-template-rows: 20% 60% 20%;
}

.menu-pedido-container{
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
    margin-bottom: 0px;
    border-color: none;
}

.card-container .card-menu .menu-pedido-container p{
    margin: 4px;
}


.card-menu-details{
    height: 160px;
}

.menu-title {
    text-align: left;
    font-weight: bold;
}

.menu-desc{
    text-align: left;
    
}

