.cont-cal-filas{
    display: grid;
    justify-content: center;
    grid-template-columns: 95px 95px 95px 95px 95px 95px 95px;
    grid-template-rows: 95px repeat();
}

.cont-cal-filas .row-title{
    font-size: medium;
    font-weight: bold;
    height: 20px;
}

.col-cal-dia{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 0.5px;
    border-color: black;
}

.fds{
    background-color: rgb(160, 158, 158);
    color: rgb(214, 63, 63);
}

.col-cal-dia:hover{
    background-color: rgb(233, 241, 238);
}

.hora{
    cursor: pointer;
    border: solid 0.1px;
    height: 30px;
    margin-bottom: 3%;
    border-radius: 25px;
}

.container-vista-calendario-horarios{
    display: grid;
    grid-template-columns: 70% 30%;
}

.lista-horarios{
    width: 100%;
}

.img-reservas{
    margin: 25px 0 25px 0;
    width: 80vw;
    height: 20vh;
}

.text{
    display: flex;
    margin: 50px 0 50px 0;
    padding: 30px 75px 50px;
}