.cont-cal-filas{
    display: grid;
    justify-content: center;
    grid-template-columns: 8vw 8vw 8vw 8vw 8vw 8vw 8vw;
    grid-template-rows: 8vw repeat();
}

.row-title{
    font-size: medium;
    font-weight: bold;
    height: 2.5vw;
    text-align:center;
}

.col-cal-dia{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: solid 0.5px;
    border-color: black;
    height: 5vw;
}

.fds{
    background-color: rgb(160, 158, 158);
    color: rgb(214, 63, 63);
}

.col-cal-dia:hover{
    background-color: rgb(233, 241, 238);
}

.hora{
    cursor: pointer;
    border: solid 0.1px;
    height: 30px;
    margin-bottom: 3%;
    border-radius: 25px;
}

.container-vista-calendario-horarios{
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 70% 30%;
    justify-content: center;
}

.lista-horarios{
    width: 80%;
}

.img-reservas{
    /* margin: 25px 0 25px 0; */
    width: 80vw;
    height: 20vh;
}

.text{
    display: flex;
    margin: 50px 0 50px 0;
    padding: 30px 75px 50px;
}

@media (max-width: 700px) {
    .container-vista-calendario-horarios{
        grid-template-rows: auto auto;
        grid-template-columns: auto;

    }
    
} 