.Contenedor-Calendario-dia{
    /* max-width: 800px; */
    /* align-self: center; */
    /* justify-items: center; */
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    grid-column: auto;
    border: solid 1px;
    border-radius: 25px 25px 0 0;
}
.Contenedor-Calendario-linea1 div{
    padding: 10px;
    border: solid 0.5px;    
    /* display: grid;
    grid-column: auto; */
    /* grid-template-columns: auto auto auto auto auto auto auto; */
}

.container-mes{
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
}